@font: Helvetica, Arial;

.page-font() {
  font-family: @font;
}

#app {
  .dynamic-div {
    .page-font();
    font-size: 3em;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid darken(blue, 15%);
    margin: 0px 15px 0px 15px;
    padding: 20px;
    text-align: center;
  }
  .dynamic-on {
    background-color: lighten(blue, 45%);
  }
  .dynamic-off {
    background-color: lighten(blue, 35%);
  }
}
